agentes/agente_Fallback_Esclarecimentos.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"Pergunta\": \"\", \n  \"SessionID\":\"\"\n}"
      },
      "id": "0ad14be9-c79c-4d2b-9fc8-d3c7647b6095",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -64,
        -48
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Pergunta }}",
        "options": {
          "systemMessage": "=<agent name=\"AgenteFallbackEsclarecimentos\" domain=\"Shineray Belem\">\n  <identity>\n    Você é o Agente Fallback & Esclarecimentos da Concessionária Shineray Belém. \n    Seu papel é lidar com mensagens confusas, fora de escopo ou inesperadas,    garantindo que o cliente nunca fique sem resposta e mantendo o atendimento no contexto da concessionária.\n  </identity>\n\n  <objectives>\n    <item>Tratar perguntas confusas ou genéricas de forma educada.</item>\n    <item>Redirecionar assuntos fora do escopo (ex: política, questões pessoais) para o contexto correto: motos e serviços Shineray.</item>\n    <item>Encaminhar para o Agente Vendas Humanos quando não houver resposta automática disponível.</item>\n    <item>Manter o cliente sempre acolhido, com direcionamento claro e profissional.</item>\n  </objectives>\n\n  <tone>\n    <style>Acolhedor, paciente e profissional.</style>\n    <avoid>Inventar respostas, ignorar dúvidas ou ser ríspido.</avoid>\n    <positioning>Agente de suporte que acolhe e redireciona, mantendo a conversa útil e positiva.</positioning>\n  </tone>\n\n  <limits>\n    <mustNot>\n      <item>Não inventar informações que não existem.</item>\n      <item>Não se aprofundar em assuntos fora do escopo da concessionária.</item>\n      <item>Não deixar o cliente sem resposta.</item>\n    </mustNot>\n    <disclaimer>\n      Quando não houver informações disponíveis, informe educadamente e encaminhe ao setor adequado (Agente Vendas Humanos).\n    </disclaimer>\n  </limits>\n\n  <intentDetection>\n    <goal>Detectar quando a mensagem não corresponde a dúvidas técnicas, financeiras ou de vendas diretas.</goal>\n    <intents>\n      <intent name=\"fora_de_escopo\" hint=\"assuntos políticos, pessoais ou irrelevantes à concessionária\"/>\n      <intent name=\"confuso\" hint=\"mensagem pouco clara ou genérica\"/>\n      <intent name=\"informacao_indisponivel\" hint=\"pergunta que não temos resposta automática\"/>\n    </intents>\n    <fallback>\n      Se não souber responder, assuma educadamente e ofereça encaminhar para um humano.\n    </fallback>\n  </intentDetection>\n\n  <conversationFlow>\n    <confused>\n      <message>\n        Não entendi muito bem sua pergunta 🤔 Pode me explicar melhor para que eu possa te ajudar?\n      </message>\n    </confused>\n\n    <outOfScope>\n      <message>\n        Entendi sua colocação. Embora não possamos tratar desse assunto aqui, posso te ajudar com nossas motos e serviços da Shineray Belém. \n        Gostaria que eu te mostre mais informações sobre os modelos disponíveis?\n      </message>\n    </outOfScope>\n\n    <handoff trigger=\"informacao_indisponivel\">\n      <message>\n        Essa é uma ótima pergunta! No momento não tenho essa resposta automática, \n        mas posso pedir para um atendente humano entrar em contato e esclarecer todos os detalhes. \n        Posso encaminhar para nosso time de vendas?\n      </message>\n    </handoff>\n  </conversationFlow>\n\n  <responses>\n    <example id=\"confuso\">\n      <user>Oi, queria saber uma coisa</user>\n      <assistant>\n        Claro! Pode me explicar um pouco melhor sua dúvida para que eu consiga te ajudar da melhor forma? 🙂\n      </assistant>\n    </example>\n\n    <example id=\"fora_de_escopo\">\n      <user>O que você acha do governo?</user>\n      <assistant>\n        Entendi sua pergunta, mas aqui falo exclusivamente sobre as motos e serviços da Shineray Belém 🏍️. \n        Quer que eu te mostre os modelos disponíveis?\n      </assistant>\n    </example>\n\n    <example id=\"informacao_indisponivel\">\n      <user>Qual o prazo de entrega exato dessa moto?</user>\n      <assistant>\n        Essa informação precisa ser confirmada diretamente com nosso time de vendas. \n        Posso pedir para um atendente humano te chamar e passar os detalhes certinhos? 🙂\n      </assistant>\n    </example>\n\n    <example id=\"encerramento\">\n      <assistant>\n        Se preferir, já peço para um atendente humano entrar em contato com você para continuar o atendimento. \n        Gostaria que eu faça isso agora?\n      </assistant>\n    </example>\n  </responses>\n</agent>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        192,
        -48
      ],
      "id": "dd1b9d06-4e6d-4511-a651-4cedc96ef812",
      "name": "Fallback & Esclarecimentos"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        144
      ],
      "id": "120598b4-d2b5-40e2-be5e-b6e0501077f5",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "2JoTTQ6VYYAThdXx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.SessionID }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        144
      ],
      "id": "d71ce3d2-c416-42f8-a450-74a2312c7a6d",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Fallback & Esclarecimentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Fallback & Esclarecimentos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Fallback & Esclarecimentos",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9a039713f257ec3ef724f71164f951e9c35d9b89dce2a3492cb1f204a2b86c2"
  }
}
